default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext
                - Behat\MinkExtension\Context\MinkContext
                - behatch:context:json
                - behatch:context:rest

    extensions:
        FriendsOfBehat\SymfonyExtension: ~
        Behat\MinkExtension:
            base_url: "http://example.com/"
            sessions:
                default:
                    symfony: ~
        Behatch\Extension: ~
