includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 8
    tmpDir: .phpstan-cache
    paths:
        - src
    autoload_directories:
        - src/Migrations
